{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Απεγγραφή από το Δίκτυο Καινοτομίας</legend>
                <h4>Είστε σίγουρος/η ότι επιθυμείτε να απεγγραφείτε από το Δίκτυο Καινοτομίας;</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit" >Ναι, απεγγραφή</button>
                <a class="btn btn-outline-secondary" href="{% url 'home' %}">Ακύρωση</a>
            </div>
        </form>
    </div>
{% endblock content %}
