{% extends 'base.html' %}

{% load bootstrap5 %}
{% load i18n %}

{% block content %}

    <h4>Συνδεθείτε στο Αποθετήριο Καινοτομίας</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">Σύνδεση</button>

    </form>

    <hr>

    <ul>
        <li>
            <a href="{% url 'restore_password' %}">Ξέχασα τον κωδικό χρήστη</a>
        </li>
        <li>
            <a href="{% url 'remind_username' %}">Ξέχασα το όνομα χρήστη μου</a>
        </li>
        <li>
            <a href="{% url 'resend_activation_code' %}">Αποστολή νέου κωδικού ενεργοποίησης</a>
        </li>
    </ul>

{% endblock %}
