{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        
<html lang="en">

<body>

<div class="container-fluid p-5 text-black text-center">
  <h1>Αποθετήριο Καινοτομίας Δημοσίου Τομέα</h1>
   
</div>
  <center><p>Στο Αποθετήριο Καινοτομίας Δημοσίου Τομέα μπορείτε: </p></center>
<div class="container mt-5">

  <div class="row">
    <div class="col-sm-4">
      
      <p>• Να εξερευνήσετε και να αναζητήσετε καινοτομίες που έχουν υλοποιηθεί από φορείς του Δημοσίου Τομέα</p>
    </div>
    <div class="col-sm-4">
      
      <p>• Να πραγματοποιείτε νέες δημοσιεύσεις καθώς και να απαντάτε σε δημοσιεύσεις στο forum σχετικά με την Καινοτομία στο Δημόσιο Τομέα</p>
    </div>
    <div class="col-sm-4">
              
      <p>• Να εγγραφείτε στο Δίκτυο Καινοτομίας Δημοσίου Τομέα ως εκπρόσωπος δημοσίου φορέα ώστε να συμμετέχετε σε δράσεις και εκδηλώσεις σχετικά με την διάδοση της καινοτομίας στην Ελληνική Δημόσια Διοίκηση</p>
    </div>
    <div class="col-sm-4">
              
      <p>• Να υποβάλετε, ως μέλος του Δικτύου Καινοτομίας, στοιχεία για καινοτομίες που υλοποιεί ο δημόσιος φορέας τον οποίο εκπροσωπείτε</p>
    </div>
  </div>
</div>

<a  href="http://127.0.0.1:8000/{{ request.user.id }}/delete/”>Διαγραφή Λογαριασμού</a>
        
</body>

        

    {% else %}

        {% trans 'Είστε επισκέπτης.' %}

    {% endif %}

{% endblock %}
