{% extends 'base.html' %}

{% load bootstrap5 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Ανάκτηση κωδικού πρόσβασης' %}</h4>

    {% if validlink %}

        <p>
            {% trans 'Παρακαλούμε εισάγετε τον νέο κωδικό χρήστη 2 φορές' %}
        </p>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success">{% trans 'Αλλαγή' %}</button>

        </form>

    {% else %}

        <div class="alert alert-danger">
            {% trans 'Ο σύνδεσμος ανάκτησης κωδικού χρήστη δεν είναι έγκυρος. Παρακαλούμε ζητήστε νέο σύνδεσμο ανάκτησης κωδικού χρήστη' %}
        </div>

    {% endif %}

{% endblock %}