{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <h4>{% trans 'Ανάκτηση κωδικού χρήστη' %}</h4>

    <div>
        {% trans "Έχουν αποσταλεί στο email σας, εφόσον είναι έγκυρο, οδηγίες ανάκτησης κωδικού χρήστη" %}
        {% trans 'You should receive them shortly.' %}

        <br>

        {% trans "Αν δεν λάβατε email με οδηγίες ανάκτησης, παρακαλούμε ελέγξτε αν η διεύθυνση email Που εισάγατε είναι η διεύθυνση με την οποία έχετε πραγματοποιήσει την εγγραφή σας, καθώς και το φάκελο spam" %}
    </div>

{% endblock %}
